* {
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    /*border: red 1px solid;*/
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.exercicio {
    display: flex;
    justify-content: space-evenly;
}

iframe.frames {
    width: 770px;
    height: 50vh;
    border-radius: 80px;
    transform: scale(0.90);
    border: black 5px solid;
}